 <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Weather Page</title>
  </head>
  <body>
    <span>{{>navbar}}</span>
    <div class="container">
      <ul id="ul">
        <li>Country Name :<span id="name"></span> </li>
        <li>Latitude: <span id="latitude"></span></li>
        <li>longtitude:<span id="longtitude"></span></li>
        <li>Current Weather: <span id="weather"></span></li>
        <li>Temp : <span id="temp"></span></li>
      </ul>
      <div id="error">error not found</div>
    </div>
     <script src="js/main.js"></script> 
  </body>
</html> 

