<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>

    <nav>
      <div class="links">
        <a href="/">Home Page</a>
        <a href="/w">Weather Page</a>
      </div>
      <div class="form">
        <input type="text" placeholder="enter country name" id="input" />
        <button id="btn">Send</button>
      </div>
    </nav>

  </body>
</html>